{% for image in user.images %}
    <div class="card col-3" style="justify-content: center; background-color: lightgray; margin: 1vh; align-items: center;">
        <img style="width: 80%; margin: 1vh; border: 1px solid black" src="{{ image.image_url }}">
        <p style="text-align: center; font-size: 2vh; margin-bottom: 0">Donations:</p>
        <p style="text-align: center; font-size: 2vh">RM {{image.donations | sum(attribute="amount")}}</p>
        <form style="justify-content: center; margin: auto; margin-top: 0; margin-bottom: 0" action="{{url_for('donations.new', image_id=image.id)}}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="submit" value="Donate" class="btn btn-secondary">
        </form>
    </div>
{% endfor %}