{% extends "_layout.html" %}

{% block title %}
  {{ user.username  }}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% include "info.html" %}    

    <form action="{{ url_for('users.update', id=user.id) }}" method="POST">
        <div class="form-group">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            
            <label for="username">Username</label>
            <input type='text' name='username' placeholder="5-20 characters" class="form-control" />

            <label for="name">Display Name</label>
            <input type='text' name='name' placeholder="1-50 characters" class="form-control" />

            <label for="email">E-mail</label>
            <input type='email' name='email' placeholder="example@someservice.com" class="form-control" />

            <label for="password">Password</label>
            <input type='password' name='password' placeholder="Input password with length 8-20 characters" class="form-control" />

            <label for="confirm_password">Confirm Password</label>
            <input type='password' name='confirm_password' placeholder="Retype password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
{% endblock %}

{% include 'flash.html' %}