{% extends "_layout.html" %}

{% block title %}
    {{ user.username  }}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% include "info.html" %}
{% if current_user.is_authenticated %}
    {% if current_user.id == user.id %}
        <form action="{{url_for('users.request', id=current_user.id)}}">
            <input type="submit" value="Follower Requests" class="btn btn-secondary">
        </form>
        {% if user.private %}
            <h1>Private Profile</h1>
            <form action="{{url_for('users.private', id=current_user.id)}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="submit" value="Make Public" class="btn btn-secondary">
            </form>
        {% else %}
            <h1>Public Profile</h1>
            <form action="{{url_for('users.private', id=current_user.id)}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="submit" value="Make Private" class="btn btn-secondary">
            </form>
        {% endif %}
        <div>
            <h3>Images</h3>
            {% for image in user.images %}
                <img style="width: 200px; height: 200px" src="{{ image.image_url }}">
                <p>Donations received: {{image.donations | sum(attribute="amount")}}</p>
            {% endfor %}
        </div>
    {% else %}
        {% if following %}
        <form action="{{url_for('follows.unfollow', id=id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="submit" value="Unfollow" class="btn btn-secondary">
        </form>
        {% elif requesting %}
        <input type="submit" value="Requested" class="btn btn-secondary" disabled>
        {% else %}
        <form action="{{url_for('follows.follow', id=id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="submit" value="Follow" class="btn btn-secondary">
        </form>
        {% endif %}
        <div>
            <h3>Images</h3>
            {% for image in user.images %}
            <img style="width: 200px; height: 200px" src="{{ image.image_url }}">
            <p>Donations received: {{image.donations | sum(attribute="amount")}}</p>
            <form action="{{url_for('donations.new', image_id=image.id)}}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="submit" value="Donate" class="btn btn-secondary">
            </form>
            {% endfor %}
        </div>
    {% endif %}
{% else %}
    {% if user.private %}
        <h1>Private Profile</h1>  
    {% else %}
        <h1>Public Profile</h1>
    {% endif %}
    <div>
        <h3>Images</h3>
        {% for image in user.images %}
        <img style="width: 200px; height: 200px" src="{{ image.image_url }}">
        <p>Donations received: {{image.donations | sum(attribute="amount")}}</p>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}