{% extends "_layout.html" %}

{% block title %}
    {{ user.username  }}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% include "info.html" %}
{% if current_user.id == user.id %}
{% if user.private %}
    <h1>Private Profile</h1>
    <form action="{{url_for('users.private', id=current_user.id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="submit" value="Make Public" class="btn btn-secondary">
    </form>
{% else %}
    <h1>Public Profile</h1>
    <form action="{{url_for('users.private', id=current_user.id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="submit" value="Make Private" class="btn btn-secondary">
    </form>
{% endif %}
    <div>
        <h3>Images</h3>
        {% for image in user.images %}
            <img style="width: 200px; height: 200px" src="{{ image.image_url }}">
            <p>Donations received: {{image.donations | sum(attribute="amount")}}</p>
        {% endfor %}
    </div>
{% else %}
    <div>
        <h3>Images</h3>
        {% for image in user.images %}
        <img style="width: 200px; height: 200px" src="{{ image.image_url }}">
        <p>Donations received: {{image.donations | sum(attribute="amount")}}</p>
        <form action="{{url_for('donations.new', image_id=image.id)}}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="submit" value="Donate" class="btn btn-secondary">
        </form>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}