{% extends "_layout.html" %}

{% block title %}
    {{ user.username  }}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% include "info.html" %}
{% if current_user.is_authenticated %}
    {% if current_user.id == user.id %}
        <div style="display: flex; margin: auto; justify-content: center;">
            <form action="{{url_for('users.request', id=current_user.id)}}">
                <input type="submit" value="Follower Requests" class="btn btn-secondary">
            </form>
            {% if user.private %}
                <form action="{{url_for('users.private', id=current_user.id)}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="submit" value="Make Public" class="btn btn-secondary">
                </form>
            {% else %}
                <form action="{{url_for('users.private', id=current_user.id)}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="submit" value="Make Private" class="btn btn-secondary">
                </form>
            {% endif %}
        </div>
        
        <div>
            {% include "users/display.html" %}
        </div>
    {% else %}
        {% if user.private %}
            {% if following %}
            <div style="display: flex; margin: auto; justify-content: center;">
                <form action="{{url_for('follows.unfollow', id=id)}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="submit" value="Unfollow" class="btn btn-secondary">
                </form>
            </div>
            <div>
                {% include "users/display_with_donate.html" %}
            </div>
            {% elif requesting %}
            <div style="display: flex; margin: auto; justify-content: center;">
                <input type="submit" value="Requested" class="btn btn-secondary" disabled>
            </div>
            <h3 style="text-align: center; margin: 1vh 0 3vh 0">You're requested to follow! Awaiting approval...</h3>
            {% else %}
            <div style="display: flex; margin: auto; justify-content: center;">
                <form action="{{url_for('follows.follow', id=id)}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="submit" value="Follow" class="btn btn-secondary">
                </form>
            </div>
            <h3 style="text-align: center; margin: 1vh 0 3vh 0">You're not following this user! Follow to view posts.</h3>
            {% endif %}
        {% else %}
            {% if following %}
            <div style="display: flex; margin: auto; justify-content: center;">
                <form action="{{url_for('follows.unfollow', id=id)}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="submit" value="Unfollow" class="btn btn-secondary">
                </form>
            </div>
            <div>
                {% include "users/display_with_donate.html" %}
            </div>
            {% else %}
            <div style="display: flex; margin: auto; justify-content: center;">
                <form action="{{url_for('follows.follow', id=id)}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="submit" value="Follow" class="btn btn-secondary">
                </form>
            </div>
            <h3 style="text-align: center; margin: 1vh 0 3vh 0">You're not following this user! Follow to view posts.</h3>
            {% endif %}
            
            <div>
                {% include "users/display_with_donate.html" %}
            </div>
        {% endif %}

    {% endif %}
{% else %}
    {% if user.private %}
        <h3 style="text-align: center; margin: 1vh 0 3vh 0">You're not following this user! Follow to view posts.</h3>
    {% else %}
        <div>
            {% include "users/display.html" %}
        </div>
    {% endif %}
{% endif %}
{% endblock %}