{% extends "_layout.html" %}

{% block title %}
  Users
{% endblock %}

{% block content %}
<h1>user list</h1>
<div style="display: flex; flex-direction: column">
    {% for user in users %}
        <a href="{{ url_for('users.show', id=user.id) }}">{{user.username}}</a>
        <a href="{{ url_for('users.show', id=user.id) }}">
            {% if user.profile_image_url %}
                <img style="width: 200px; height: 200px" src="{{ user.profile_image_url }}">
            {% else %}
                <img style="width: 200px; height: 200px" src="http://next-curriculum-instagram.s3.amazonaws.com/profile-placeholder.jpg" alt="" />
            {% endif %}
        </a>
        {% if user.private %}
        <p>Private Profile</p>
        {% else %}
        <p>Public Profile</p>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}